# --- Ambientes Virtuais (Virtual Environments) ---
venv/
.venv/
env/

# --- Python & Compilação ---
__pycache__/
*.py[cod]
*$py.class

# --- Variáveis de Ambiente e Segredos (CRÍTICO) ---
.env
cofre/

# --- Dados e Arquivos de Entrada/Saída ---
Main/
input/
Output/
output/
*.csv
*.pdf
*.xlsx
*.xls

# --- Arquivos do Sistema Operacional e IDEs (Recomendado) ---
.DS_Store
.vscode/
.idea/