# --- Ambientes Virtuais (Virtual Environments) ---
venv/
.venv/
env/
.env/
# --- Python & Compilação ---
__pycache__/
*.py[cod]
*$py.class

# --- Variáveis de Ambiente e Segredos (CRÍTICO) ---
.env
cofre/
*.env
# --- Dados e Arquivos de Entrada/Saída ---
Main/
input/
Output/
output/
FOPAG/
Folhas Passadas/
*.csv
*.pdf
*.xlsx
*.xls
*.json
# --- Arquivos do Sistema Operacional e IDEs (Recomendado) ---
.DS_Store
.vscode/
.idea/